* {
    margin: 0;
    padding: 0;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body {
    background-color: bisque;
}

#grid {
    border:3px solid black;
    display:flex;
    flex-direction: column;
    width:300px;
    height:300px;
}

.gridRow {
    flex:1;
    display:flex;
    justify-content: space-between;
}

.gridBox {
    flex:1;
}