* {
    margin: 0;
    padding: 0;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body {
    background-color: bisque;
    display:flex;
    justify-content: center;
}

button {
    width: 16vh;
    height: 20px;
    font-family:"Chunk";
    font-weight: bolder;
    font-size:1.4vh;
    background-color: #FFF8F0;
    border-radius:10px;
    border: 1px solid black;
}



#grid {
    border:3px solid black;
    display:flex;
    flex-direction: column;
    width:300px;
    height:300px;
}

#container {
    display:flex;
    align-items: center;
    gap:15px;
    height: 100vh;
}

#right-side {
    display:flex;
    flex-direction: column;
    width:150px;
    align-items: center;
    gap:30px;
}

#text {
    text-align: center;
    height:7vh;
    font-family:"Chunk";
    font-weight: bolder;
    font-size:2.7vh;
}

#button-container {
    display:flex;
    flex-direction: column;
    gap:8px;
}

.chosen-button {
    background-color: #E4FFC4;
}

.gridRow {
    flex:1;
    display:flex;
    justify-content: space-between;
}

.gridBox {
    flex:1;
}